---
const pageTitle = "Mi Blog Astro"
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
---
	<BaseLayout pageTitle={pageTitle}>
		<h2>Lee un poco de lo que eh hecho</h2>

        <p>This is the test of a blog poryotype, again, just for learn.</p>
	</BaseLayout>
